:root {
  /* 가장 중요하게 생각하는 color */
  --primaryColor: #b9ea50;
  --secondColor: pink;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainRed: #f41d90;
  --mainGreen: #61ee36;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--secondColor);
  color: var(--mainBlack);
}

h1 {
  margin: 1rem 0;
}
